* {
    -webkit-font-smoothing: antialiased;
}

input {
    font-family: 'Open Sans', sans-serif;
}

:host {
    font-family: 'Montserrat', sans-serif;
    display: block;
    height: calc(100% - 50px);
    /*//max-height: 100%;*/
    /*//margin-bottom: 70px;*/
}

section {
    position: relative;
    /*//box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.06);*/
    height: 100%;
    /*//display: flex;*/
    /*//flex-direction: column;*/
    /*//justify-content: space-between;*/

    overflow: auto;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: flex-end;
}

section .header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

h1 {
    font-size: 32px;
    /*line-height: 26px;*/
    margin: 10px 15px;
    margin-top: 0;
    color: #3F3E48;
}

section .header span {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    margin-top: unset;
    color: #3F3E48;
}

.communications {
    /*//position: absolute;*/
    /*//left: 0;*/
    /*//right: 0;*/
    /*//bottom: 0;*/
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    max-height: 50px;
    /*//padding: 15px;*/
    margin: 15px -15px;
    margin-bottom: 0;
    scroll-snap-type: x mandatory;
    min-height: 56px;
    margin-top: 0;
}

.communications:after {
    content: '';
    min-width: 15px;
    min-height: 50px;
}

.communications input[type="checkbox"] {
    display: none;
}

.communications label {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    /*border: 1px solid rgba(0, 0, 0, 0.12);*/
    border-radius: 100px;
    padding: 8px 15px;
    padding-left: 43px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    display: flex;
    align-items: center;
    color: #97969C;
    height: 45px;
}

.communications label:first-of-type {
    margin-left: 15px;
}

.communications label:before {
    box-sizing: border-box;
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    left: 12px;
    background: white;
    border-radius: 11px;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

.communications input[type="checkbox"]:checked + label {
    color: black;
}

.communications input[type="checkbox"]:checked + label:before {
    background: #6EBC61;
    border: 3px solid #6EBC61;
    box-shadow: inset 0 0 0 3px white;
}

.big-next-bottom-button {
    box-sizing: border-box !important;
    -webkit-appearance: none;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background: #6EBC61;
    color: white;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    padding: 0 30px;
    cursor: pointer;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    border: unset;
    z-index: 10;
    margin: unset;
}

section form {
    position: relative;
    z-index: 1;
    bottom: 0;
    padding: 30px;
    background: white;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 80px;
}

form h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 15px;
}

form h2 span {
    color: #6EBC61;
}

form input {
    -webkit-appearance: unset;
    border: 0;
    margin: 15px 0;
    width: calc(100% - 30px);
    background: rgba(196, 196, 196, .2);
    border-radius: 7px;
    font-size: 18px;
    line-height: 30px;
    color: black;
    padding: 15px;
}

aside {
    display: none;
}

.big-next-bottom-button span {
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    font-weight: normal;
    max-width: 150px;
    opacity: 0.8;
}

@media (min-width: 1024px) {
    :host {
        /*//height: calc(100% - 130px);*/
        /*//border-radius: 15px;*/
        /*//background: white;*/
        /*//padding: 15px;*/
        height: calc(100% + 30px);
        margin: unset;
        margin-bottom: -30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    section {
        /*//box-shadow: initial;*/
        max-width: 643px;
        height: auto;
        /*display: flex;*/
    }

    section .header {
        padding: unset;
    }

    h1 {
        font-size: 42px;
        line-height: 52px;
        margin: unset;
        margin-top: 71px;
        margin-bottom: 20px;
    }

    section .header span {
        font-size: 20px;
        line-height: 32px;
        margin-top: unset;
    }

    .communications {
        /*display: initial;*/
        max-width: 100%;
        margin-top: 28px;
        flex-direction: row;
    }

    .communications:after {
        content: unset;
    }

    .communications label {
        box-sizing: border-box;
        padding-left: 40px;
        min-width: 167px;
        font-size: 18px;
        line-height: 20px;
    }

    .communications label:before {
    }

    section form {
        margin-top: 15px;
        /*//bottom: 0;*/
        /*//position: absolute;*/
        padding: 50px;
        padding-bottom: 130px;
    }

    form input:first-of-type {
        margin-top: unset;
    }

    form h2 {
        display: none;
    }

    aside {
        display: flex;
        position: absolute;
        right: 30px;
        bottom: 163px;
        width: calc(1024px - 643px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside:before {
        content: '';
        display: block;
        width: 79px;
        height: 79px;
        background-image: url(/img/time.contacts.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 58px;
        margin-right: 50px;
    }

    aside h2 {
        max-width: 242px;
        font-weight: 600;
        font-size: 26px;
        line-height: 38px;
        color: #3F3E48;
        margin: unset;
    }

    aside h2 span {
        color: #6EBC61;
    }

    .big-next-bottom-button {
        border-radius: 100px;
        width: 261px;
        left: 30px;
        right: initial;
        bottom: 30px;
        position: fixed;
        font-size: 20px;
        margin-left: 50px;
        text-align: center;
    }
}

@media (min-width: 1364px) {
    .big-next-bottom-button {
        left: initial;
    }

}
