* {
    box-sizing: border-box;
}

:root {
    font-family: Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: unset;
    height: 100%;
    touch-action: none;
}

input {
    font-size: 16px;
}
